a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
$primary: #e56f67;

.table-footer{
  font-size: 1.2em;
  font-weight: bold;
  background: #fff;
}
tbody, td, tfoot, th, thead, tr {
  border: 0 solid;
  border-color: inherit;
  padding: 20px 5px;
}

.total{
  text-align: right;
}
.container{
  max-width: 90%;
}
section{
  padding: 20px 0;
}
.navbar{
  .cartbtn{
    background-color: transparent;
    color: white;
    border: none;
    .fas{
      margin: 0 5px;
    }
  }
}

.alert{
  width: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000;
}

.addtocartbtn{
  background: $primary;
  color: white;
}

.modal-backdrop.show {
  z-index: 1000;
}
.modal{
  top: 12%;
  .modal-header{
    border-bottom: none;
    padding: 0 40px;
  }
  .modal-footer{
    border-top: none;
  }
  
  table{
    width: 100%;
    .btn-danger{
      padding: 8px 10px;
      background: $primary;
    }
    th{
      background: #fff4f4;
    }
    img{
      max-width: 60px;
    }
  }
}
.modal-dialog {
  max-width: 95%;
}
.products{
  .card{
    transition: 0.5s ease-in-out;
    margin: 20px 0;
    min-height: 320px;
    .card-text{
      color: $primary;
      font-size: 25px;
    }
    &:hover img{
      transform: scale(1.12, 1.12);
    }
    &:hover .products-bottom-content{
      height: 60%;
    } 
    .products-bottom-content{
      z-index: 10000000;
      position: absolute;
      left: 0;
      overflow: hidden;
      background: white;
      width: 100%;
      height: 0;
      top: 95%;
      padding: 0 20px;
      transition: 0.8s all;
    }  
    img{
      max-width: 200px;
      transition: 0.4s ease-in-out;
    }
  }
}
.breadcum{
  background: $primary;
  color: white;
  padding: 50px 0;
}
.product-template{
  padding: 50px 0;
  img{
    max-width: 500px;
  }
  .fas{
    color: black;
  }
  .carousel-indicators{
    bottom: -100px;
    [data-mdb-target] {
      width: 100%;
      height: 100px;
      opacity: 1;
      border: 1px solid $primary;
      img{
        max-width: 100px;
      }
    }
  }
  .prodcuts-details{
    padding-top: 150px;
  }
}
